---
import { getCollection} from 'astro:content';

const { features, postCount } = Astro.props;

let posts = (await getCollection('posts'));

if (postCount) posts = posts.slice(0, postCount);
---

{posts.map(post =>
    <div class=`fly-margin-large-bottom ${features}`>
        <div class="fly-flex fly-flex-space-between fly-margin-bottom fly-flex-break-mobile">
            <div class="fly-margin-right">
				<a href=`/${post.id}` class="fly-text-lead">{post.data.title}</a>
                <p class="fly-margin-none">{post.data.description}</p>
            </div>
            <p class="fly-margin-none fly-text-muted" style="flex-shrink: 0">{post.data.date}</p>
        </div>
    </div>
)}
